<div class="row">
    <h1 style="color: black;">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Primaria</h1> - <h3>1995</h3></li>
            <p>“Bernardino Rivadavia” egresado 1999</p>
        </ul>
        <ul>
            <li><h1>Secundaria</h1> - <h3>2000</h3></li>
            <p>“Alejandro Volta” egresado 2005</p>
        </ul>
        <ul>
            <li><h1>Universitaria</h1> - <h3>2006</h3></li>
            <p>Universidad Tecnológica Nacional - Ing Electrónica - en curso</p>
        </ul>
        <ul>
            <li><h1>Conocimientos</h1>
            <p>       Ingles & portugués intermedio
   SCRUM, Metodología Agile, UML, DER, POO.
   CMD, HTML, CSS, JavaScript, Java Web, nodeJS,  NetBeans, Workbench, Xampp, MySQL, Angular CLI, TypeScript, Spring boot, GitHub
   Instrumentos de medición: Multímetro y Osciloscopio
</p>
        </ul>
    </div>
</div>