<div class="row">
    <h1 style="color: black;">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Tecnet </h1> - <h3>(years)</h3></li>
            <p>Incident management</p>
        </ul>
        <ul>
            <li><h1>Cronon Tecnología</h1> - <h3>(years)</h3></li>
            <p>Soluciones informáticas</p>
        </ul>
        <ul>
            <li><h1>CVA</h1> - <h3>(years)</h3></li>
            <p>Control Vehicular Argentino</p>
        </ul>
        <ul>
            <li><h1>Autotrol</h1> - <h3>(years)</h3></li>
            <p>Soluciones integrales de automatización</p>
        </ul>
    </div>
</div>